extend ../layout

block content
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Server name:
    div(style='width: 70%') #{serverName}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Host name:
    div(style='width: 70%') #{hostName}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Address:
    div(style='width: 70%') #{address}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Version:
    div(style='width: 70%') #{version}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Time:
    div(style='width: 70%') #{time}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Trace ID:
    div(style='width: 70%') 
      a(href=elkLink) #{tracerId}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Message:
    div(style='width: 70%') #{message}
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Data:
    div(style='width: 70%') #{data} 
  div(style='width:100%;display:flex;padding: 15px 0px;')
    strong(style='width: 15%;color:#717171;min-width: 150px;') Error:
    div(style='width: 70%') #{error}